<template>
  <div>

  </div>
</template>

<script>
export default {
  mounted () {
    this.getAuthUser();
  },
  methods: {
    getAuthUser() {
      axios.get(`${app_domain}/json/get_auth_user_data`).then(response => {
        console.log('response', response);
        this.$store.commit('setAuthUserData', response.data);
      })
    },
  }
}
</script>

<style lang="css">
</style>
