
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Roboto');


// Variables
@import 'variables';

// bootstrap theming

$theme-colors: (
  "primary": $company_secondary_color,
  "warning": $company_primary_color,
);
$enable-rounded:  false;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'mm-vertical.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


// bootstrap override
//
.w_primary_color {
  color: $company_primary_color;
}

// .card {
//   box-shadow: 0 1px 6px rgba($company_secondary_color, 0.4);
// }

// h1, h2, h3, h4, h5, h6 {
//   // color: $company_primary_color;
// }

// vue transition

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}
.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s;
}
.scale-enter,
.scale-leave-active {
  opacity: 0;
  transform: scale(0.3) translateY(24px);
}


