.sidebar-nav {
    background: white;
    color: grey;
    border: 1px solid #c8c8c8;
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav ul ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: white;
}

.sidebar-nav .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}



.sidebar-nav .metismenu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #333;
    outline-width: 0;
    transition: all .3s ease-out;

    &:hover, &:active, &:focus, .mm-active {
        color: #333;
        background: #f3f3f3;
        text-decoration: none;
    }

}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 30px;
}

.sidebar-nav {
  ul.metismenu {
    li {
      a {
        border-bottom: 1px solid #c8c8c8;
        border-top: 1px solid #c8c8c8;
        border-collapse: collapse;
      }
      &:first-child{
        a {
          border-top: none;
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
      &.mm-active {
        a {
          border-top: none;
          border-bottom: 1px solid #c8c8c8;
        }
      }
      ul {
        li {
          padding: 10px;
          cursor: pointer;
          color: #000;
          &:hover, &.mm-active {
            color: $company_secondary_color;
            background: #f3f3f3;
          }
        }
      }
    }
  }
}


