.sidebar-nav {
    background: $company_secondary_color
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: darken($company_secondary_color, 8%);
}
.sidebar-nav ul ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: white;
}

.sidebar-nav .metismenu {
    background: darken($company_secondary_color, 1%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-nav .metismenu li + li {
  margin-top: 5px;
}

.sidebar-nav .metismenu li:first-child {
  margin-top: 5px;
}
.sidebar-nav .metismenu li:last-child {
  margin-bottom: 5px;
}


.sidebar-nav .metismenu > li {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu ul li.mm-active {
  text-decoration: none;
  background: darken($company_secondary_color, 10%);
  color: #fff;

}
.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #fff;
    outline-width: 0;
    transition: all .3s ease-out;

    &:hover, &:active, &:focus, .mm-active {
        color: #eee;
        text-decoration: none;
        background: darken($company_secondary_color, 10%);
    }

}

.sidebar-nav .metismenu ul a {
    color: $company_secondary_color;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav {
  ul.metismenu {
    li {
      ul {
        li {
          padding: 10px;
          cursor: pointer;
          &:hover {
            background: darken($company_secondary_color, 10%);
            color: white;
          }
        }
      }
    }
  }
}


