<template>
<div :class="alert_class" class="alert alert-dismissible fade show" role="alert">
  <slot></slot>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</template>
<script>
  export default {
    props: ['alert_class', 'text']
  }
</script>
