<template>
  <span>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
      <slot name='title'>Button title</slot>
    </button>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <slot name='header'>Default header</slot>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <slot name='body'>
              .....default content
            </slot>
          </div>
          <div class="modal-footer">
            <slot name='footer'>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </slot>
          </div>
        </div>
      </div>
    </div>

  </span>
</template>

