<template>
<transition name="fade">
  <div class='education_block'>

        <modal
          transition="scale"
          :adaptive="true"
          :draggable="true"
          :scrollable="true"
          height="auto"
          width="60%"
          name="education_details_modal">
          <div class='card border-0'>
            <div class='card-header'>
              Update Contact details
            </div>
            <div class='card-body'>
                  <g-alert v-if='error' alert_class="alert-danger">
                    Some error happened, Actual error will shown later
                  </g-alert>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group row'>
                        <label for='grade_name' class='col-5 col-form-label text-md-right'>Grade Name</label>
                        <div class='col-md-7'>
                          <input class="form-control" type='text' v-model='education.grade_name' name='grade_name' id='grade_name'/>
                          <label v-if="formErrors.grade_name" class='d-block text-danger'>Grade Name required</label>
                        </div>
                      </div>

                      <div class='form-group row'>
                        <label for='grade' class='col-5 col-form-label text-md-right'>grade</label>
                        <div class='col-md-7'>
                          <input v-model="education.grade" class="form-control" type='text' name='grade' id='grade'/>
                        </div>
                      </div>

                      <div class='form-group row'>
                        <label for='institute' class='col-5 col-form-label text-md-right'>institute</label>
                        <div class='col-md-7'>
                          <input v-model='education.institute' class="form-control" type='text' name='institute' id='institute'/>
                        </div>
                      </div>

                    </div>
                    <div class='col-md-6'>

                      <div class='form-group row'>
                        <label for='completion_date' class='col-5 col-form-label text-md-right'>completion date</label>
                        <div class='col-md-7'>
                          <input v-model='education.completion_date' class="form-control" type='date' name='completion_date' id='completion_date'/>
                        </div>
                      </div>

                      <div class='form-group row'>
                        <label for='percentage_obtained' class='col-5 col-form-label text-md-right'>Percent Obtained</label>
                        <div class='col-md-7'>
                          <input v-model='education.percentage_obtained' class="form-control" type='text' name='percentage_obtained' id='percentage_obtained'/>
                          <label v-if="formErrors.percentage_obtained" class='d-block text-danger'>Please put number value</label>
                        </div>
                      </div>

                      <div class='form-group row'>
                        <label for='education_level' class='col-5 col-form-label text-md-right'>Education Level</label>
                        <div class='col-md-7'>
                          <input v-model='education.education_level' class="form-control" type='text' name='education_level' id='education_level'/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-12'>
                      <div class="d-flex justify-content-end mt-3">
                          <button v-if="!loading" class="btn btn-warning mr-3" @click="resetForm">
                            Reset
                          </button>
                          <button v-if="!loading" class="btn btn-primary" @click="post_education_details">
                            Save
                          </button>
                          <button v-if="loading" class='btn btn-primary'>
                            <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                          </button>
                      </div>
                    </div>
                  </div>

            </div>
          </div>
        </modal>

    <div class='card'>
      <div class='card-header'>
         Education record
      </div>
      <div class='card-body'>

        <div v-if="isEditable" class='d-flex justify-content-end mb-4'>
          <button @click="open_education_details_modal" class="btn btn-primary"><i class='fa fa-plus'></i></button>
        </div>

        <div v-if="educations.length" class='table-responsive'>
          <table class='table table-bordered'>
            <tr>
              <th>Name </th>
              <th>Completion Date</th>
              <th>Grade </th>
              <th>Percentage </th>
              <th>Institute </th>
              <th>education level</th>

              <th v-if="isEditable">action </th>
            </tr>
            <tr v-for="item in educations" >
              <td>{{item.grade_name}}</td>
              <td>{{item.completion_date}}</td>
              <td>{{item.grade}}</td>
              <td>{{item.percentage_obtained}}</td>
              <td>{{item.institute}}</td>
              <td>{{item.education_level}}</td>
              <td v-if="isEditable">
                <button @click="edit_education_item(item.id)" class="btn btn-primary"><i class='fa fa-pencil'></i></button>
                <button @click="delete_education_item(item.id)" class="btn btn-warning"><i class='fa fa-trash'></i></button>
              </td>
            </tr>
          </table>
          <!-- /.table table-bordered -->
        </div>
        <h2 v-if="!educations.length" class="text-center">No Education record found</h2>
      </div>
      <!-- /.card-body -->
      <!-- /.card-header -->
    </div>
  </div>
</transition>
</template>
<script>
export default {
    data() {
      let empty_model = {
        grade_name: "",
        grade: "",
        institute: "",
        completion_date: "",
        percentage_obtained: "",
        education_level : "",
      }
      return {
        education: {...empty_model},
        empty_model,
        educations: [],
        edit_mode: false,
        edit_id: '',
        loading: false,
        success: false,
        error: false,
        formErrors: {}
      }
    },
    mounted() {
      this.get_education_details();
    },
    methods: {
    check_form_error(key) {
      if (!this.education[key]) {
        this.formErrors = {
          ...this.formErrors,
          [key]: true,
        }
        return true;
      }else {
        this.formErrors = {
          ...this.formErrors,
          [key]: false,
        }
        return false;
      }
    },
    check_percentage_obtained() {
      if(this.education.percentage_obtained){
        if(isNaN(Number(this.education.percentage_obtained)))  {
          this.formErrors = {
            ...this.formErrors,
            ['percentage_obtained']: true,
          }
          return true;
        }else {
          this.formErrors = {
            ...this.formErrors,
            ['percentage_obtained']: false,
          }
          return false;
        }
      }
    },
    post_education_details() {
      console.log('calling post_education_details')
      let grade_error = this.check_form_error('grade_name')
      // this.education.percentage_obtained = String(this.education.percentage_obtained).substr(0, 2);  // to make it less than 100. since this percentage value always less than 100
      let check_percentage_obtained = this.check_percentage_obtained();
      if (grade_error || check_percentage_obtained) {
        return;
      }
      this.loading = true;

      if (this.edit_mode) {
        this.updateEducation();
      }else {
        this.postEducation();
      }
    },
    updateEducation() {
      let education_post_url = `${app_domain}/json/update_education_item/${this.edit_id}`;
      axios.put(education_post_url, this.education).then(response => {
        console.log('response', response);
        this.loading = false;
        this.edit_mode = false;
        this.resetForm();
        this.get_education_details();
        if (response.data.error) {
          this.error = true;
        }else {
          this.success = true;
          this.close_education_details_modal();
        }
      })

    },
    postEducation() {
        let education_post_url = `${app_domain}/json/post_education_details`;
        axios.post(education_post_url, this.education).then(response => {
          console.log('response', response);
          this.loading = false;
          this.resetForm();
          this.get_education_details();
          if (response.data.error) {
            this.error = true;
          }else {
            this.success = true;
            this.close_education_details_modal();
          }
        })
    },
    resetForm() {
      this.education = {...this.empty_model}
      this.edit_mode = false
      this.formErrors = {}
    },
    get_education_details() {
      axios.get(`${app_domain}/json/get_education_details/${this.$store.getters.profile_id}`).then(response => {
        console.log('response', response.data)
        this.educations = response.data;
      })
    },
    delete_education_item(id) {
      axios.delete(`${app_domain}/json/delete_education_item/${id}`).then(response => {
        this.get_education_details();
      })
    },
    edit_education_item(id) {
      let education = this.educations.find(education => education.id === id);
      this.education = {...education};
      this.edit_mode = true;
      this.edit_id = education.id;
      this.open_education_details_modal();
    },

    open_education_details_modal(){
      this.$modal.show('education_details_modal')
    },
    close_education_details_modal(){
      this.$modal.hide('education_details_modal')
    },

  },
  computed: {
    isEditable() {
      return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
    },
  },
}
</script>
