<template>
<transition name="fade">
  <div class='interests_block'>


        <modal
          transition="scale"
          :adaptive="true"
          :draggable="true"
          width="60%"
          name="interest_modal">
          <div class='card border-0'>
            <div class='card-header'>
              Update Interest Details
            </div>
            <div class='card-body'>
              <div class='row'>
                <div class='col-md-6'>
                  <div class='form-group row'>
                    <label for='interest_name' class='col-5 col-form-label text-md-right'>Name</label>
                    <div class='col-md-7'>
                      <input v-model="interest.name" type='text' class='form-control' name='interest_name' id='interest_name'/>
                      <label v-if="formErrors.name" class='d-block text-danger'>Name field required</label>
                    </div>
                  </div>
                </div>
                <!-- /.col-md-6 -->
                <div class='col-md-6'>
                  <div class='form-group row'>
                    <label for='interest_since' class='col-5 col-form-label text-md-right'>interest since</label>
                    <div class='col-md-7'>
                      <input v-model="interest.since" type='date' class='form-control' name='interest_since' id='interest_since'/>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-12'>
                  <div class="d-flex justify-content-end mt-3">
                      <button v-if="!loading" class="btn btn-warning mr-3" @click="resetForm">
                        Reset
                      </button>
                      <button v-if="!loading" class="btn btn-primary" @click="post_or_update_interest">
                        Save
                      </button>
                      <button v-if="loading" class='btn btn-primary'>
                        <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                      </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </modal>


    <div class='card'>
      <div class='card-header'>
        Interests
      </div>
      <div class='card-body'>
        <div v-if="isEditable" class='d-flex justify-content-end mb-4'>
          <button @click="open_interest_modal" class="btn btn-primary"><i class='fa fa-plus'></i></button>
        </div>
        <div v-if="interests.length" class='table-responsive'>
          <table class='table table-bordered'>
            <tr>
              <th>Name</th>
              <th>Since</th>
              <th v-if="isEditable">Action</th>
            </tr>
            <tr v-for="item in interests" >
              <td>{{item.name}}</td>
              <td>{{item.since}}</td>
              <td v-if="isEditable">
                <button @click="edit_interest_item(item.id)" class="btn btn-primary"><i class='fa fa-pencil'></i></button>
                <button @click="delete_interest_item(item.id)" class="btn btn-warning"><i class='fa fa-trash'></i></button>
              </td>
            </tr>
          </table>
          <!-- /.table table-responsive -->
        </div>
        <!-- /.table-responsive -->
        <p v-if="!interests.length" >No Interest record found</p>

      </div>
    </div>
    <!-- /.card -->

  </div>
</transition>
</template>

<script>
export default {
  data() {
    let empty_model = {
      name: '',
      since: '',
    }
    return {
      empty_model,
      interest: {...empty_model},
      interests: [],
      edit_mode: false,
      edit_id: '',
      loading: false,
      success: false,
      error: false,
      formErrors: {},
    }
  },
  methods: {
    check_form_error(key) {
      if (!this.interest[key]) {
        this.formErrors = {
          ...this.formErrors,
          [key]: true,
        }
        return true;
      }else {
        this.formErrors = {
          ...this.formErrors,
          [key]: false,
        }
        return false;
      }
    },

    post_or_update_interest() {
      let name_error = this.check_form_error('name')
      if (name_error) {
        return;
      }
      this.loading = true;
      if (this.edit_mode) {
        this.update_interest_item();
      }else {
        this.post_interest_details();
      }
    },
    update_interest_item() {
      let interest_post_url = `${app_domain}/json/update_interest_item/${this.edit_id}`;
      axios.put(interest_post_url, this.interest).then(response => {
        console.log('response', response);
        this.loading = false;
        this.edit_mode = false;
        this.resetForm();
        this.get_interest_details();
        if (response.data.error) {
          this.error = true;
        }else {
          this.success = true;
          this.close_interest_modal();
        }
      })

    },
    open_interest_modal(){
      this.$modal.show('interest_modal')
    },
    close_interest_modal(){
      this.$modal.hide('interest_modal')
    },
    post_interest_details() {
        let interest_post_url = `${app_domain}/json/post_interest_details`;
        axios.post(interest_post_url, this.interest).then(response => {
          console.log('response', response);
          this.loading = false;
          this.resetForm();
          this.get_interest_details();
          if (response.data.error) {
            this.error = true;
          }else {
            this.success = true;
            this.close_interest_modal();
          }
        })
    },
    resetForm() {
      this.interest = {...this.empty_model}
      this.edit_mode = false
      this.formErrors = {}
    },
    get_interest_details() {
      axios.get(`${app_domain}/json/get_interest_details/${this.$store.getters.profile_id}`).then(response => {
        console.log('response', response.data)
        this.interests = response.data;
      })
    },
    delete_interest_item(id) {
      axios.delete(`${app_domain}/json/delete_interest_item/${id}`).then(response => {
        this.get_interest_details();
      })
    },
    edit_interest_item(id) {
      let interest = this.interests.find(interest => interest.id === id);
      this.interest = {...interest};
      this.edit_mode = true;
      this.edit_id = interest.id;
      this.open_interest_modal();
    },

  },
  mounted() {
    this.get_interest_details();
  },
  computed: {
    isEditable() {
      return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
    },
  },
}
</script>
