<template>
<transition name="fade">
      <div class='profile-address-block'>
        <modal
          transition="scale"
          :adaptive="true"
          :draggable="true"
          width="60%"
          name="personal_info_modal">

          <div class='card border-0'>
            <div class='card-header'>
              Update Personal Info
            </div>
            <!-- /.card-header -->
            <div class='card-body'>
                <g-alert v-if='false && success' alert_class="alert-success">
                  <h3 class="p-0  m-0">All Information updated successfully</h3>
                  </g-alert>
                  <g-alert v-if='errorComputed' alert_class="alert-danger">
                    <span>User Name already exists. Please select another one</span>
                  </g-alert>
                    <div class='row'>
                      <div class='col-md-5 mx-auto'>
                        <div class='form-group row'>
                          <label for='name' class='col-5 col-form-label text-md-right'>Name</label>
                          <div class='col-7'>
                            <input id="name" type="email" class="form-control" name="name" v-model="profile.name">
                          </div>
                        </div>

                        <div class='form-group row'>
                          <label for='gender' class='col-5 col-form-label text-md-right'>Gender</label>
                          <div class='col-7'>
                            <select v-model="profile.gender" name='gender' id='gender' class='form-control'>
                              <option disabled value="">Please select one</option>
                              <option value='Male'>Male</option>
                              <option value='Female'>Female</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class='col-md-5 mx-auto'>

                        <div class='form-group row'>
                          <label for='user_name' class='col-5 col-form-label text-md-right'>User Name</label>
                          <div class='col-7'>
                            <input id="user_name" type="text" class="form-control" name="user_name" v-model="profile.user_name" >
                            <label v-if="formErrors.user_name" class='d-block text-danger'>User name can't be empty</label>
                          </div>
                        </div>

                        <div class='form-group row'>
                          <label for='birth' class='col-5 col-form-label text-md-right'>Date of birth</label>
                          <div class='col-7'>
                            <input v-model="profile.date_of_birth" id="name" type="date" class="form-control" name="birth" >
                          </div>
                        </div>


                      </div>
                    </div>
                    <div class="form-group row mt-4 d-none">
                        <div class='col-md-8 mx-auto'>
                          <label class="d-flex justify-content-center align-items-center ">
                            <input id="terms_and_condition1" class="mx-3" type='checkbox' />
                            <span>I agree to Terms and conditions. That any information may result in the cancellation of admissions, or you can be block listed to the all our affiliate sites</span>
                          </label>
                        </div>
                      </div>
                    <div class='row'>
                      <div class='col-md-10 mx-auto'>
                        <div class="d-flex justify-content-end">
                            <button v-if="!loading" class="btn btn-primary" @click="informationSubmit">
                              Save
                            </button>
                            <button v-if="loading" class='btn btn-primary'>
                              <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                            </button>
                        </div>
                      </div>
                    </div>
              </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </modal>

        <div class='card'>
          <div class='card-header'>
            Personal Information
          </div>
          <div class='card-body'>
            <div v-if="isEditable" class='d-flex justify-content-end'>
              <button @click="open_personal_info_modal" class="btn btn-primary"><i class='fa fa-pencil'></i></button>
            </div>
            <p>Name: {{profile.name}}</p>
            <p>User Name: {{profile.user_name}}</p>
            <p v-if='profile.gender'>Gender: {{profile.gender}}</p>
            <p v-if='profile.date_of_birth'>Date of Birth: {{profile.date_of_birth}}</p>
          </div>
        </div>
      </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      profile: {
        date_of_birth:"",
        gender:"",
        name:"",
        user_name:"",
      },
      loading: false,
      success: false,
      error: false,
      errorText: '',
      formErrors: {},
    }
  },
  methods: {
    get_profile_personal_info() {
      axios.get(`${app_domain}/json/get_profile_personal_info/${this.$store.getters.profile_id}`).then(response => {
        console.log('response', response.data)
        this.profile = response.data;
      })
    },
    open_personal_info_modal(){
      this.$modal.show('personal_info_modal')
    },
    close_personal_info_modal(){
      this.$modal.hide('personal_info_modal')
    },
    informationSubmit() {
      this.profile = {
        ...this.profile,
        user_name: this.slugify(this.profile.user_name)
      }
      if (this.check_empty_input('user_name')) {
        return;
      }else {
        this.post_profile_personal_info(this.profile);
      }
    },
    check_empty_input(key) {
      if (!this.profile[key]) {
        this.formErrors = {
          ...this.formErrors,
          [key]: true,
        }
        return true;
      }else {
        this.formErrors = {
          ...this.formErrors,
          [key]: false,
        }
        return false;
      }
    },

    slugify(text) {
      return text.toString().toLowerCase()
        .replace(/\s+/g, '-')           // Replace spaces with -
        .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
        .replace(/\-\-+/g, '-')         // Replace multiple - with single -
        .replace(/^-+/, '')             // Trim - from start of text
        .replace(/-+$/, '');            // Trim - from end of text
    },
    post_profile_personal_info(data) {
      this.loading = true;
      this.error = false;
      axios.post(`${app_domain}/json/post_profile_personal_info`, data).then(response => {
        console.log('response', response);
        this.loading = false;

        if (response.data.error) {
          this.error = true;
        }else {
          this.success = true;
          this.close_personal_info_modal();
        }

      })
    },

  },
  mounted() {
    this.get_profile_personal_info();

  },
  computed: {
    errorComputed() {
      return this.error;
    },
    isEditable() {
      return Number(this.$store.getters.profile_id) === Number(this.$store.getters.auth_user_id)
    },
  },
}
</script>

<style>

</style>
