
<template>
  <div>
    <nav class="sidebar-nav">
      <ul class="metismenu" id="sidebar_metis_menu">
        <li>
          <a class="has-arrow" href="#" aria-expanded='true'>
            <span class="fa fa-fw fa-user fa-lg"></span>
            Profile
          </a>
          <ul>
            <li @click="changeSidebar('profile', 'personal')" :class="{'mm-active': isSelectedSidebar('personal')}">Personal Information</li>
            <li @click="changeSidebar('profile', 'contact')" :class="{'mm-active': isSelectedSidebar('contact')}">Contact Details</li>
            <li @click="changeSidebar('profile', 'education')" :class="{'mm-active': isSelectedSidebar('education')}">Education</li>
            <li @click="changeSidebar('profile', 'ielts')" :class="{'mm-active': isSelectedSidebar('ielts')}">IELTS/Tofel Scores</li>
            <li @click="changeSidebar('profile', 'interest')" :class="{'mm-active': isSelectedSidebar('interest')}">Interests</li>
            <li @click="changeSidebar('profile', 'video')" :class="{'mm-active': isSelectedSidebar('video')}">Videos</li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="#" aria-expanded="false">
            <i class="fa fa-address-book  fa-lg" aria-hidden="true"></i>
            Connect with
          </a>
          <ul>
              <li @click="changeSidebar('connect_with', 'find_institute')" :class="{'mm-active': isSelectedSidebar('find_institute')}">Find Institutes</li>
              <li @click="changeSidebar('connect_with', 'find_tutor')" :class="{'mm-active': isSelectedSidebar('find_tutor')}">Find Tutor</li>
              <li @click="changeSidebar('connect_with', 'find_mutual_friend')" :class="{'mm-active': isSelectedSidebar('find_mutual_friend')}">Find Mutual Friends</li>
              <li @click="changeSidebar('connect_with', 'explore_social_media')" :class="{'mm-active': isSelectedSidebar('explore_social_media')}">Explore Social media</li>
              <li @click="changeSidebar('connect_with', 'find_invitation')" :class="{'mm-active': isSelectedSidebar('invitation')}">Invitations</li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="#" aria-expanded="false">
            <i class="fa fa-comment fa-lg" aria-hidden="true"></i>
            Chat
          </a>
          <ul>
              <li>Find Institutes</li>
              <li>Find Tutor</li>
              <li>Find Mutual Friends</li>
              <li>Explore Social media</li>
              <li>Invitations</li>
          </ul>
        </li>
        <li>
          <a class="has-arrow" href="#" aria-expanded="false">
            <i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i>
            Social Media
          </a>
          <ul>
              <li>Find Institutes</li>
              <li>Find Tutor</li>
              <li>Find Mutual Friends</li>
              <li>Explore Social media</li>
              <li>Invitations</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</template>
<script>
/**
# constant value for sidebar name
personal
contact
education
ielts
interest
video

 **/
export default {
  data() {
    return {
      selectedGroup: 'profile',
      selectedSidebar: 'personal',
    }
  },
  methods: {
    isSelectedSidebar(selectedSidebar) {
      return selectedSidebar == this.selectedSidebar;
    },
    changeSidebar(selectedGroup, selectedSidebar) {
      this.selectedSidebar = selectedSidebar;
      this.selectedGroup = selectedGroup;
      ProfileEvent.$emit('sidebarchanged', {
        selectedSidebar,
        selectedGroup,
      })
    }
  },
  mounted () {
  },
}
</script>
<style>
  #sidebar_metis_menu i {
    display: inline-block;
    margin-right: 10px;
  }
</style>
